@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
    
      body{
    font-family: 'Poppins', sans-serif;
}


.container {
    max-width: 1200px ;
    margin: 0 auto ;
}

.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(imagenes/lema.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
     } 
     .menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
     } 

     .logo {
        color: #fffdfc;
        font-size: 25px;
        font-weight: 800;
     } 

     .menu .navbar ul li {
        position: relative;
        float: left;
     }

     .menu .navbar ul li a {
        font-size: 18px;
        padding: 20px;
        color: #fffdfc;
        display: block;
        font-weight: 600;
     }


     .menu .navbar ul li a:hover{
        color: #ce9678;
     }

     #menu {
        display: none;
     }

     .menu-icono {
        width: 25px;
     }

     .menu label {
        cursor: pointer;
        display: none;
        
     }

     .header-content {
        text-align: center;
     }

     .header-content h1 {
        font-size: 75px;
        line-height: 80px;
        color: #f9fafc;
        text-transform: uppercase;
        margin-bottom: 35px;
     }

     .header-content p {
        font-size: 16px;
        color: #c5c5c5c5;
        padding: 0 250px;
        margin-bottom: 25px;
     }

     .btn-1 {
        display: inline-block;
        padding: 11px 35px;
        background-color: #ce9678;
        color: #f9fafc;
        text-transform: uppercase;
     }

     .btn-1:hover {
        background-color: #ebad8d;
     } 

     .coffee{
        padding: 100px;
        background-color: #e1e2e6;
        position: relative;
     }

     .coffee-content{
        text-align: center;
     }

     .coffee-1 img {
        width: 75px;
    }

     .coffee-content h2 {
        font-size: 55px;
        line-height: 70px;
        color: #323337;
        text-transform: uppercase;
        padding: 0 250px;
        margin-bottom: 15px;
     }

     .txt-p {
        font-size: 16px;
        color: #414247;
        padding: 0 250px;
        margin-bottom: 35px;

     }

     .coffee-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .coffee-1 {
        padding: 25px;
        width: 50%;
    }

    .imagen-port img {
        width: 100%;
        height: 100%;
        object-fit: cover ;
        display: block;
    }



    .coffee-img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .coffee-content p {
        font-size: 16px;
        color: #c5c5c5;
        margin-bottom: 50px;
        padding: 0 100px;
    }


    .coffee-1 h3 {
        color: #323337;
        font-size: 20px;
        margin-bottom: 15px; 
    }

    .services {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
            url(imagenes/servicio.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            padding: 100px 0;
    }

    .services-content {
        text-align: center;
    }

    .services-content h2 {
        font-size: 55px;
        line-height: 70px;
        color: #f9fafc;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    .services-content p {
        font-size: 16px;
        color: #c5c5c5;
        margin-bottom: 50px;
        padding: 0 100px;
    }

    .services-gruop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        width: 100px;
    }

    .services-1 {
        padding: 0 100px;
    }

    .services-1 img {
        width: 150px;
    }

    .services-2 img {
        width: 150px;
    }

    .services-3 img {
        width: 150px;
    }

    .services-4 img {
        width: 150px;
    }


 



